:root {
  --primary-color: #ede7ae;
  --secondary-color: #d9d7d3;
  --text-color: #575551;
  --second-text-color: #64635d;
  --main-bg: #ede7ae;
  --main-text: #332b18;
  --font-family: "Nanum Myeongjo", serif;
}

.site-bg {
  position: relative;
}

.site-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('./img/Old-Woman-Reading_Gerard-Dou.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  transform-origin: center;
  z-index: -1;
}

.about-bg {
  inset: 0;
  background: url('./img/Allegory-of-Fame_Gerard-de-Lairesse.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.title-font {
  font-family: var(--font-family);
}

.corp-name {
  font-size: 24px;
  font-weight: 700;
}